{{ header }}
<div class="container">
    <div class="pdp">
        <div class="row">{{ column_left }}
            {% if column_left and column_right %}
                {% set class = 'col-sm-6' %}
            {% elseif column_left or column_right %}
                {% set class = 'col-sm-9' %}
            {% else %}
                {% set class = 'col-sm-12' %}
            {% endif %}
            <div id="content" class="{{ class }} has-mt-32">{{ content_top }}
                <div class="is-text-center be-trainer-mbl has-mb-32">
                    <a href="{{ trainer_register }}" class="btn btn-account-submit btn-text">{{ text_register_trainer }}</a>
                </div>
                <h1 class="has-mb-12 trainer-title">{{ heading_title }}</h1>
                <p class="trainer text-center">{{ text_description }}</p>
                <div class="is-text-right be-trainer">
                    <a href="{{ trainer_register }}" class="btn btn-account-submit btn-text">{{ text_register_trainer }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for personal_trainers in personal_trainer %}
            {% if personal_trainers.image %}
                <div class="col-sm-6 col-md-6 col-lg-4 {% if personal_trainer|length == 1 and loop.first %} col-lg-offset-4 col-sm-offset-3 col-md-offset-3 {% elseif personal_trainer|length == 2 and loop.first %} col-lg-offset-2 {% endif %}">
                    <div class="trainer-desc">
                        <img src="{{ personal_trainers.image }}" alt="personal_trainer" />
                        <div class="ha-btn-header">
                            {{ personal_trainers.first_name }}&nbsp;{{ personal_trainers.last_name }}
                            <small class="trainer-small">{{ personal_trainers.title }}</small>
                        </div>
                        <div class="ha-btn-trainer">
                            <div class="text-center">
                                <a href="{{ personal_trainers.href }}" class="btn btn-account-submit btn-text">{{ text_button }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="has-mt-90 has-mb-95">
        <h1 class="has-mb-32 trainer-title">{{ text_highlights }}</h1>
        <div class="trainer-video-list">
            <div class="row">
                {% set count = 0 %}
                {% for personal_trainers in personal_trainer %}
                    {% for personal_trainer_media in personal_trainers.personal_trainer_media %}
                        {% if personal_trainer_media.media_type == 'video' %}
                            {% set count = count + 1 %}
                            {% if count < 5 %}
                                <div class="col-sm-6 col-md-6 col-lg-3 trainer-video">
                                    <a href="#" data-url="{{ personal_trainer_media.media_url }}" data-index="{{ count - 1 }}" class="image-youtube">
                                        <div class="trainer-video-list">
                                            <img src="https://img.youtube.com/vi/{{ personal_trainer_media.media_thumb }}/mqdefault.jpg" alt="embed-video.jpg" />
                                            {% if personal_trainer_media.media_text %}
                                                <div class="video-text is-text-center">
                                                    <span class="account-text fnt-normal clr-white">{{ personal_trainer_media.media_text }}</span>
                                                </div>
                                                {% endif %}
                                            <div class="video-play">
                                                <img src="catalog/view/theme/fitpery/image/icon/icon-play.svg" alt="icon-play.svg" />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="modal-video" class="modal">
    <div class="modal-dialog-video">
        <div class="modal-content-video">
            <div id="trainer-videos-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="modal-head">
                    <button type="button" id="close-modal" class="close-video" data-dismiss="modal" aria-hidden="true">
                        <img src="catalog/view/theme/fitpery/image/icon/icon-close.svg" alt="icon-close.svg" class="icon-video-close" />
                    </button>
                    <label for="close-modal" class="account-text fnt-normal clr-white close-video-text">{{ text_close_video }}</label>
                </div>
                <div class="modal-padding">
                    <div class="carousel-inner">
                        {% set count = 0 %}
                        {% for personal_trainers in personal_trainer %}
                            {% for personal_trainer_media in personal_trainers.personal_trainer_media %}
                                {% if personal_trainer_media.media_type == 'video' %}
                                {% set count = count + 1 %}
                                {% if count < 5 %}
                                    <div class="item"></div>
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <ol class="carousel-indicators">
                        {% set count = 0 %}
                        {% for personal_trainers in personal_trainer %}
                            {% for personal_trainer_media in personal_trainers.personal_trainer_media %}
                                {% if personal_trainer_media.media_type == 'video' %}
                                    {% set count = count + 1 %}
                                    {% if count < 5 %}
                                        <li data-target="#trainer-videos-carousel" data-slide-to="{{ count - 1 }}"></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ol>
                    <a class="left carousel-control" href="#trainer-videos-carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                            <img src="catalog/view/theme/fitpery/image/icon/icon-left.svg" alt="icon-left.svg" />
                        </span>
                    </a>
                    <a class="right carousel-control" href="#trainer-videos-carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                             <img src="catalog/view/theme/fitpery/image/icon/icon-right.svg" alt="icon-left.svg" />
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
<script>
    $(function () {
        $('.image-youtube').on('click', function (event) {
            event.preventDefault();
            $('#modal-video .carousel-inner .item').eq($(this).attr('data-index')).html('<div class="video-container"><iframe src="'+$(this).attr('data-url')+'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>');
            $('#modal-video .carousel-inner .item').removeClass('active');
            $('#modal-video .carousel-inner .item').eq($(this).attr('data-index')).addClass('active');
            $('#modal-video .carousel-indicators li').removeClass('active');
            $('#modal-video .carousel-indicators li').eq($(this).attr('data-index')).addClass('active');
            $('#modal-video').modal('show');
        })
    })

    $('#modal-video').on('slide.bs.carousel', function (event) {
        var next = $(event.relatedTarget);
        var to = next.index();
        next.html('<div class="video-container"><iframe src="'+$('.image-youtube').eq(to).attr('data-url')+'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>');
        var active = $(event.target).find('.carousel-inner > .item.active');
        active.html('');
    })

    $('#modal-video').on('hide.bs.modal', function (e) {
        $('#modal-video .video-container').remove();
        window.onscroll = function () { window.scrollTo(); };
    });

    $(".carousel-control").on('click', function (e) {
        var scroll = $(window).scrollTop();
        window.onscroll = function () { window.scrollTo(0,scroll); };
    });
</script>