{{ header }}
<main role="main" id="MainContent">
    {% if banner_images %}
    <div class="collection-hero">
        {% for banner_image in banner_images %}
            {% if banner_image.title == 'desktop-1900x' %}
                <div class="collection-hero-trainer desktop-hero" style="background-image: url('{{ banner_image.image }}');"></div>
            {% else %}
                <div class="collection-hero-trainer mobile-hero" style="background-image: url('{{ banner_image.image }}');"></div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="container">
        <div class="row">{{ column_left }}
            {% if column_left and column_right %}
                {% set class = 'col-sm-6' %}
            {% elseif column_left or column_right %}
                {% set class = 'col-sm-9' %}
            {% else %}
                {% set class = 'col-sm-12' %}
            {% endif %}
            <div class="col-sm-12 video-row-column">
                {% set count = 0 %}
                {% for key, values in video_tags %}
                {% set count = count + 1 %}
                    <h1 id="video" class="has-mb-16 trainer-title text-left">{{ key }}{{ text_video_title }}</h1>
                    <div class="trainer-video-list">
                        <div class="row">
                            {% for value in values %}
                            <div class="col-sm-6 col-md-6 col-lg-3 has-mb-30 trainer-video">
                                <a href="#" data-url="{{ value.media_url }}" data-index="{{ count - 1 }}" class="image-youtube">
                                    <div class="trainer-video-list">
                                        <img src="https://img.youtube.com/vi/{{ value.media_thumb }}/mqdefault.jpg" alt="embed-video.jpg" />
                                        {% if value.media_text %}
                                            <div class="video-text is-text-center">
                                                <span class="account-text fnt-normal clr-white">{{ value.media_text }}</span>
                                            </div>
                                        {% endif %}
                                        <div class="video-play">
                                            <img src="catalog/view/theme/fitpery/image/icon/icon-play.svg" alt="icon-play.svg" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <div id="modal-video" class="modal">
        <div class="modal-dialog-video">
            <div class="modal-content-video">
                <div id="trainer-videos-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="modal-head">
                        <button type="button" id="close-modal" class="close-video" data-dismiss="modal" aria-hidden="true">
                            <img src="catalog/view/theme/fitpery/image/icon/icon-close.svg" alt="icon-close.svg" class="icon-video-close" />
                        </button>
                        <label for="close-modal" class="account-text fnt-normal clr-white close-video-text">{{ text_close_video }}</label>
                    </div>
                    <div class="modal-padding">
                        <div class="carousel-inner">
                            {% for key, values in video_tags %}
                                {% for value in values %}
                                        <div class="item"></div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <ol class="carousel-indicators mbl-indicators">
                            {% set count = 0 %}
                            {% for key, values in video_tags %}
                            {% for value in values %}
                                        {% set count = count + 1 %}
                                        <li data-target="#trainer-videos-carousel" data-slide-to="{{ count - 1 }}"></li>
                            {% endfor %}
                            {% endfor %}
                        </ol>
                        <a class="left carousel-control" href="#trainer-videos-carousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                            <img src="catalog/view/theme/fitpery/image/icon/icon-left.svg" alt="icon-left.svg" />
                        </span>
                        </a>
                        <a class="right carousel-control" href="#trainer-videos-carousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                             <img src="catalog/view/theme/fitpery/image/icon/icon-right.svg" alt="icon-left.svg" />
                        </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{ footer }}

<script>
    $(function () {
        $('.image-youtube').on('click', function (event) {
            event.preventDefault();
            $('#modal-video .carousel-inner .item').eq($(this).attr('data-index')).html('<div class="video-container"><iframe src="' + $(this).attr('data-url') + '" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>');
            $('#modal-video .carousel-inner .item').removeClass('active');
            $('#modal-video .carousel-inner .item').eq($(this).attr('data-index')).addClass('active');
            $('#modal-video .carousel-indicators li').removeClass('active');
            $('#modal-video .carousel-indicators li').eq($(this).attr('data-index')).addClass('active');
            $('#modal-video').modal('show');
        });
    });

    $('#modal-video').on('slide.bs.carousel', function (event) {
        var next = $(event.relatedTarget);
        var to = next.index();
        next.html('<div class="video-container"><iframe src="'+$('.image-youtube').eq(to).attr('data-url')+'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>');
        var active = $(event.target).find('.carousel-inner > .item.active');
        active.html('');
    })

    $('#modal-video').on('hide.bs.modal', function (e) {
        $('#modal-video .video-container').remove();
        window.onscroll = function () { window.scrollTo(); };
    });

    $(".carousel-control").on('click', function (e) {
        var scroll = $(window).scrollTop();
        window.onscroll = function () { window.scrollTo(0,scroll); };
    });
</script>