{{ header }}
<div class="container">
    <div class="trainer-form-success is-text-center">
        <span class="trainer-title text-uppercase">{{ text_success_title }}</span>
    </div>
    <div class="row">
        <div class="trainers-banner">
            <img src="catalog/view/theme/fitpery/images/trainer-form/egitmen-ol-banner-desktop.png" alt="trainers-banner.jpg" class="banner-desktop" />
            <img src="catalog/view/theme/fitpery/images/trainer-form/egitmen-ol-banner-mobile.png" alt="trainers-banner.jpg" class="banner-mobile" />
        </div>
        <div class="col-sm-12 has-mb-32">
            <img src="catalog/view/theme/fitpery/image/icon/icon-confirm.svg" class="confirm-icon" alt="icon-confirm.svg" />
        </div>
        <div class="is-text-center has-mb-64 text-desc">
            <span class="success-desc">{{ text_success }}</span>
        </div>
        <div class="form-back-text is-text-center">
            <button onclick="location.href = '{{ home }}'" class="btn btn-account-submit">
                {{ text_home }}
            </button>
        </div>
    </div>
</div>
{{ footer }}